@using EN2Editor.Model.Selection
@inject SelectionManager selectionManager 

<div class="toolbar">

    <div class="toolbar-header">Knude typer</div>

    <div>
        <ul class="flex-column toolbar-list">
            <li draggable="true" class="toolbar-item" @onmousedown="DragTool">
                Default node <img src="Icons/Info.png" class="info-icon"/>
            </li>
            <li draggable="true" class="toolbar-item" @onmousedown="DragTool">
                Default node <img src="Icons/Info.png" class="info-icon"/>
            </li>
        </ul>
    </div>
</div>

@code {

    private void DragTool() {
        Console.WriteLine("Dragging");
        selectionManager.IsDraggingToolbarNode = true;
    }

}
