@using EN2Editor.Model

<li class="toolbar-divider node-type-end">
    Slut typer
</li>
<li draggable="true" class="toolbar-item node-type-end" @onmousedown="@(() => DragTool.InvokeAsync(NodeModelBase.NodeTypes.DestroyOnCompletion))">
    Slet ved fuldførelse <img src="Icons/Info.png" class="info-icon"/>
</li>

@code {
    [Parameter]
    public EventCallback<NodeModelBase.NodeTypes> DragTool { get; set; }
}