@using Model.Managers
@using Model.Nodes
@namespace EN2Editor.Pages.Toolbar
@inject SelectionManager selectionManager

<div class="toolbar">

    <div class="toolbar-header">Knude typer</div>

    <div>
        <ul class="flex-column toolbar-list">
            <StartNodeTools DragTool="DragTool"/>
            <InternalNodeTools DragTool="DragTool"/>
            <EndNodeTools DragTool="DragTool"/>
        </ul>
    </div>
</div>

@code {

    private void DragTool(NodeModelBase.NodeTypes nodeType) {
        selectionManager.IsDraggingToolbarNode = true;
        selectionManager.NodeTypeInCreation = nodeType;
    }

}