@using EN2Editor.Model
@using EN2Editor.Model.Selection
@namespace Nodes
@inject SelectionManager selectionManager

<div class="node" style="left: @(NodeModel.X)px; top: @(NodeModel.Y)px">
    <div class="default-node">
        <div class="node-component-container">
            <!-- This container holds all the components of a specific Node type -->
            <h4 class="node-header specific-node-header"
                @onmousedown="OnMouseDown"
                @onmousedown:stopPropagation="true">
                Test node
                <i class="delete-node-button" @onclick="OnDeleteClicked">&#10008;</i>
            </h4>
            <h6 >other item</h6>
            <h6 >other item</h6>
            <h6 >other item</h6>
            <h6 >other item</h6>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<NodeModelBase> OnDeleteEvent { get; set; }

    [Parameter]
    public string Header { get; set; }

    [Parameter]
    public NodeModelBase NodeModel { get; set; }

    private double lastClientX, lastClientY;
    private double initX, initY;

    private void OnMouseDown(MouseEventArgs e) {
        selectionManager.GrabbedNode = NodeModel;
        selectionManager.InitialX = NodeModel.X;
        selectionManager.InitialY = NodeModel.Y;
        selectionManager.LastX = e.ClientX;
        selectionManager.LastY = e.ClientY;
    }

    private void OnDeleteClicked() {
        Console.WriteLine("delete node");
        OnDeleteEvent.InvokeAsync(NodeModel);
    }

}